/*--------------------------------------------
Button Black CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #f5b835;
    border: 1px solid #f5b835;
    border-radius: 12px;
    padding: 6px;
}
QPushButton:hover{
    border: 1px solid #f5b835;
    color: #000000;
}
QPushButton:pressed {
    background: #f5b835;
    border: none;
    color: #000;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(2, 156, 224, 60%);
    border: 1px solid rgba(45, 45, 46, 40%);
}
